{% extends "layout.html" %}
{% block content %}
<h2>{{ subcounty.name}}: {{ subcounty.id }}</h2>
<body>
    <p>Note, still under construction</p>
    <p>Add a New Transaction:</p>
    <form id="addTransactionForm">
	<label for="financeType">Finance Type:</label>
        <input type="text" id="financeType" name="financeType" required>
	<label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" required>
	<label for="dated">Dated:</label>
        <input type="date" id="dated" name="dated" required>
	<button type="submit">Add Transaction</button>
    </form>

    <div class="button-container">
        <a href="/admin/counties" class="revenue-button">Click here to edit (Will return to admin Counties page, still under construction)</a>
    </div>

    <script>
	const churchId = "{{ churchId }}";
    </script>
    <script src="{{ url_for('static', filename='JS/custom_05.js') }}"></script>

</body>
{% endblock content%}
