{% extends "layout.html" %}
{% block content %}
<section id="services" class="page-section">
        <div class="container">
            <div class="heading text-center">
                <!-- Heading -->
                <h3>Choose reports</h3>
                <p>Find financial reports of inflow and outflow expenses from these sections</p>
            </div>
            <div class="row">

    <style>
        .button-container {
            display: flex;
            justify-content: space-around;
            margin: 20px;
        }
        .revenue-button {
            padding: 15px 30px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
            font-size: 16px;
            text-decoration: none;
            transition: transform 0.2s, box-shadow 0.2s;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        }
        .revenue-button:hover {
            background-color: #45a049;
            transform: translateY(-3px);
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
        }
        .revenue-button:active {
            transform: translateY(1px);
            box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        }
    </style>
</head>
<body>
    <div class="button-container">
        <a href="/{{ subcounty.name }}/{{ church.name }}/infinances" target="_blank" class="revenue-button">In Revenue</a>
        <a href="/{{ subcounty.name }}/{{ church.name }}/outfinances" target="_blank" class="revenue-button">Out Revenue</a>
        <a href="/{{ subcounty.name }}/{{ church.name }}/deptfinances" target="_blank" class="revenue-button">Departments Revenue</a>
    </div>
</body>
{% endblock content%}
